extends layout

block content
    h1= title
    p Welcome to #{title}
	div(id="dmcn_cnsl")
		div(class="history")
			div 
				p Detta är min text
				p dadsa
				p dasdsa
		div(class="editor")
			input(type="text")